<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <!-- meta -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{% if description %}{{description}}{% else %}{{site.description}}{% endif %}"/>

    <!-- css -->
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="{{ '/css/app.css' | url }}">

    <!-- js -->
    <script src="/js/app.js?v={% version %}" defer></script>

    <title>{{site.name}}{% if title %} - {{title}} {% endif %}</title>
</head>
<body class="bg-gradient-to-t from-rose-100 to-teal-100 flex flex-col min-h-screen">

{% include "_header.njk" %}

<div class="container mx-auto md:mt-10 mt-24 px-4 md:px-0 lg:max-w-screen-2xl">
    {{content | safe}}
</div>

{% include "_footer.njk" %}

</body>
</html>
