<!-- og tags -->
<meta property="og:title" content="Open Graph Meta Tags: Everything You Need to Know" />
<meta property="og:url" content="https://ahrefs.com/blog/open-graph-meta-tags/" />
<meta property="og:image" content="https://ahrefs.com/blog/wp-content/uploads/2020/01/fb-open-graph-1.jpg" />
<meta property="og:type" content="article" />
<meta property="og:description" content="Learn about 13 features that set Ahrefs apart from the competition." />
<meta property="og:locale" content="en_GB" />
<!-- twitter card tags -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@nytimesbits" />
<meta name="twitter:creator" content="@nickbilton" />